@import 'tailwindcss';

*{
  font-family: 'Inter', sans-serif;
}

@theme {
  --text-h1 : 48px;
  --text-h2 : 32px;
  --text-h3 : 24px;
  --text-h4 : 18px;
  --text-h5 : 16px;
  --text-h6 : 12px;
  --text-h7 : 8px;

  --color-primary : #3A573F;
  --color-secondary : #5E8266;
  --color-chat : #85AA8C;
  --color-star : #EAB308
}
